<div class="header">
  <div class="left">
    @if (icon && !isSvg(icon)) {
    <mat-icon class="header-icon">{{ icon }}</mat-icon>
    }
    @if (icon && isSvg(icon)) {
    <span class="custom-icon" [innerHTML]="getSafeSvg(icon)"></span>
    }
    <h1>{{ title }}</h1>
  </div>
  <div class="actions">
    @for (a of actions; track a.action) {
    <button (click)="onClick(a.action)" [ngClass]="a.color">
      @if (a.icon && !isSvg(a.icon)) {
      <mat-icon>{{ a.icon }}</mat-icon>
      }
      @if (a.icon && isSvg(a.icon)) {
      <span class="custom-icon" [innerHTML]="getSafeSvg(a.icon)"></span>
      }
      {{ a.label }}
    </button>
    }
  </div>
</div>
