<div class="table-container" data-testid="_lst_traitement_table">
  <div class="table-header">
    <div
      class="header-cell sortable id"
      [class.asc]="sortColumn === 'idFonctionnel' && sortDirection === 'asc'"
      [class.desc]="sortColumn === 'idFonctionnel' && sortDirection === 'desc'"
      (click)="toggleSort('idFonctionnel')"
    >
      <span class="header-text">ID</span>
      <mat-icon class="sort-icon" >sort</mat-icon>
    </div>

    <div
      class="header-cell sortable"
      [class.asc]="sortColumn === 'nom' && sortDirection === 'asc'"
      [class.desc]="sortColumn === 'nom' && sortDirection === 'desc'"
      (click)="toggleSort('nom')"
    >
      TRAITEMENT
      <mat-icon class="sort-icon" >sort</mat-icon>
    </div>

    <div
      class="header-cell sortable col-gestionnaire"
      [class.asc]="sortColumn === 'gestionnaireMiseEnOeuvre' && sortDirection === 'asc'"
      [class.desc]="sortColumn === 'gestionnaireMiseEnOeuvre' && sortDirection === 'desc'"
      (click)="toggleSort('gestionnaireMiseEnOeuvre')"
    >
      GESTIONNAIRE
      <mat-icon class="sort-icon" >sort</mat-icon>
    </div>

    <div
      class="header-cell sortable col-finalite"
      [class.asc]="sortColumn === 'finalite' && sortDirection === 'asc'"
      [class.desc]="sortColumn === 'finalite' && sortDirection === 'desc'"
      (click)="toggleSort('finalitePrincipale')"
    >
      FINALITÉ PRINCIPALE
      <mat-icon class="sort-icon" >sort</mat-icon>
    </div>

    <div class="header-cell-arrow"></div>
  </div>

  <div class="table-body">

    <div *ngIf="loading" class="loading-overlay">
      <div class="spinner"></div>
    </div>

    <ng-container *ngIf="!loading">
    <div
      class="row"
      *ngFor="let item of data"
      [attr.data-testid]="'_lst_traitement_row_' + item.idFonctionnel"
      (click)="onSelect(item)"
      [class.selected]="item.idFonctionnel === selectedId"
    >
      <div class="cell id" data-testid="_val_traitement_id">

        <mat-icon class="arming-countdown">arming_countdown</mat-icon>

        {{ item.idFonctionnel }}
      </div>
      <div class="cell name" data-testid="_val_traitement_nom">{{ item.nom }}</div>
      <div class="cell col-gestionnaire" data-testid="_val_traitement_gestionnaire">{{ item.gestionnaireMiseEnOeuvre }}</div>
      <div class="cell col-finalite" >{{ item.finalitePrincipale }}</div>
      <div class="arrow">›</div>
    </div>
    </ng-container>
  </div>
</div>
