.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  padding: 0.75rem 1rem;
  

  .page-btn {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: none;
    border: none;
     align-items: center;
  justify-content: center;
  display: flex;
    font-size: 0.85rem;
    color: #374151;
    cursor: pointer;
    transition: all 0.15s ease;

    &:hover:not(:disabled) {
      background: #f3f4f6;
    }

    &.active {
      border: 1px solid #d1d5db;
      background: #2E63CD;
      color: white;
      border-color: #2E63CD;
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }

    &.dots {
      background: none;
      cursor: default;
      opacity: 1;
      border: none;
      
      &:hover {
        background: none;
      }
    }
  }
}

