<div class="table-wrapper">
  <table *ngIf="!loading">
    <thead>
      <tr>
        <th>ID</th>
        <th>Traitement</th>
        <th>Gestionnaire</th>
        <th>Finalité principale</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of data" (click)="onRowClick(t)">
        <td>{{ t.id }}</td>
        <td>{{ t.treatment }}</td>
        <td>{{ t.manager }}</td>
        <td>{{ t.purpose }}</td>
      </tr>
    </tbody>
  </table>

  <div class="loading" *ngIf="loading">
    <div class="spinner"></div>
  </div>
</div>
