<div class="tabs-container">
  <div class="tabs">
    <button *ngFor="let tab of tabs" [class.active]="activeTab === tab" (click)="selectTab(tab)">
      {{ tab }}
    </button>
  </div>

  <div class="content">
    <div *ngIf="activeTab === 'Identification du traitement'" class="tab-content">
      <div class="field-group">
        <label>ID</label>
        <p>{{ traitementDetails?.id ? traitementDetails?.id : '-' }}</p>
      </div>

      <div class="field-group">
        <label>Etablissement(s)</label>
        <p>-</p>
      </div>

      <div class="field-group">
        <label>Données concernées</label>
        <p>{{ traitementDetails?.categoriesPersonnesConcernees ? traitementDetails?.categoriesPersonnesConcernees : '-' }}
        </p>
      </div>

      <div class="field-group">
        <label>Nom du traitement</label>
        <p>{{ traitementDetails?.nom ? traitementDetails?.nom : '-' }}</p>
      </div>

      <div class="field-group">
        <label>Date d'identification du traitement</label>
        <p>{{ traitementDetails?.dateIdentification ? traitementDetails?.dateIdentification : '-' }}</p>
      </div>

      <div class="field-group">
        <label>Date de mise à jour</label>
        <p> {{ traitementDetails?.dateMiseAJour ? traitementDetails?.dateMiseAJour : '-' }}</p>
      </div>

      <div class="field-group">
        <label>Historique des modifications</label>
        <p>{{ traitementDetails?.historiqueModifications ? traitementDetails?.historiqueModifications : '-' }} </p>
      </div>

      <div class="field-group">
        <label>Data Protection Officer</label>
        <p>{{ traitementDetails?.dataProtectionOfficer ? traitementDetails?.dataProtectionOfficer : '-' }}</p>
      </div>

      <div class="field-group">
        <label>Responsable de traitement</label>
        <p> {{ traitementDetails?.responsableTraitement ? traitementDetails?.responsableTraitement : '-' }}</p>
      </div>

      <div class="field-group">
        <label>Gestionnaire de la mise en œuvre du traitement</label>
        <p>{{ traitementDetails?.gestionnaire ? traitementDetails?.gestionnaire : '-' }}</p>
      </div>

      <div class="field-group">
        <label>Finalité principale</label>
        <p>{{ traitementDetails?.finalitePrincipale ? traitementDetails?.finalitePrincipale : '-' }}</p>
      </div>

      <div class="field-group">
        <label>Sous-finalités</label>
        <ul class="sub-list">
          <li>{{ traitementDetails?.sousFinalites ? traitementDetails?.sousFinalites : '-' }}</li>
        </ul>
      </div>
    </div>

    <div *ngIf="activeTab === 'Données personnelles traitées'" class="tab-content">
      <div class="field-group">
        <label>Données personnelles</label>
        <p>Informations relatives au traitement...</p>
      </div>
    </div>

    <div *ngIf="activeTab === 'Description du traitement'" class="tab-content">
      <div class="field-group">
        <label>Description</label>
        <p>Description détaillée du traitement...</p>
      </div>
    </div>
  </div>
</div>