<div class="clients-layout" [class.details-open]="selectedClient">
  <div class="clients-page">
    <div class="clients-main"></div>
    <!-- HEADER -->
    <div class="page-header">
      <div class="header-left">
        <div class="icon-wrapper">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 20V3.75L5 0L10 3.75V6H20V20H0ZM2 18H4V16H2V18ZM2 14H4V12H2V14ZM2 10H4V8H2V10ZM2 6H4V4H2V6ZM6 6H8V4H6V6ZM6 18H18V8H6V18ZM12 12V10H16V12H12ZM12 16V14H16V16H12ZM8 12V10H10V12H8ZM8 16V14H10V16H8Z"
              fill="#161617"
            />
          </svg>
        </div>
        <h1 class="page-title">Clients</h1>
      </div>

      <div class="header-actions">
        <button class="btn-filter" (click)="onFilterClients()">
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 18V12H10V14H18V16H10V18H8ZM0 16V14H6V16H0ZM4 12V10H0V8H4V6H6V12H4ZM8 10V8H18V10H8ZM12 6V0H14V2H18V4H14V6H12ZM0 4V2H10V4H0Z"
              fill="#161617"
            />
          </svg>

          Filtres
        </button>

        <button class="btn-primary" (click)="onCreateClient()">+ Créer un client</button>
      </div>
    </div>

    <!-- TABS -->
    <div class="tabs-header">
      <button
        class="tab-btn"
        [class.active]="activeTab === 'actuel'"
        (click)="setActiveTab('actuel')"
      >
        Actuel ({{ actuelsCount }})
      </button>

      <button
        class="tab-btn"
        [class.active]="activeTab === 'archive'"
        (click)="setActiveTab('archive')"
      >
        Archivé ({{ archivesCount }})
      </button>
    </div>

    <!-- COLLAPSIBLE CLIENT -->
    <div class="collapse-wrapper">
      <div class="collapse-container">
        <div class="collapse-header">
          <span class="collapse-title">Client</span>
          <svg
            class="chevron"
            [class.open]="clientsListOpen"
            (click)="toggleClientsList()"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
          >
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </div>
        @if(clientsListOpen) {
        <div class="clients-list" >
          
          @for (c of displayedClients; track $index) {
          <div class="clients-list-item" >
            <div class="client-info">
              <div class="client-name">{{ c.name }}</div>
            </div>

            <div class="client-actions">
              <button class="action-btn" title="Modifier" (click)="onEditClient(c)">
                <svg
                  class="icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5 19H6.425L16.2 9.225L14.775 7.8L5 17.575V19ZM3 21V16.75L16.2 3.575C16.4 3.39167 16.6208 3.25 16.8625 3.15C17.1042 3.05 17.3583 3 17.625 3C17.8917 3 18.15 3.05 18.4 3.15C18.65 3.25 18.8667 3.4 19.05 3.6L20.425 5C20.625 5.18333 20.7708 5.4 20.8625 5.65C20.9542 5.9 21 6.15 21 6.4C21 6.66667 20.9542 6.92083 20.8625 7.1625C20.7708 7.40417 20.625 7.625 20.425 7.825L7.25 21H3ZM15.475 8.525L14.775 7.8L16.2 9.225L15.475 8.525Z"
                  />
                </svg>
              </button>
              @if(activeTab === 'actuel') {
              <button
                class="action-btn"
                title="Archiver"
                (click)="onArchiveClient(c)"
              >
                <svg
                  class="icon"
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9 15L13 11L11.6 9.6L10 11.2V7H8V11.2L6.4 9.6L5 11L9 15ZM2 5V16H16V5H2ZM2 18C1.45 18 0.979167 17.8042 0.5875 17.4125C0.195833 17.0208 0 16.55 0 16V3.525C0 3.29167 0.0375 3.06667 0.1125 2.85C0.1875 2.63333 0.3 2.43333 0.45 2.25L1.7 0.725C1.88333 0.491667 2.1125 0.3125 2.3875 0.1875C2.6625 0.0625 2.95 0 3.25 0H14.75C15.05 0 15.3375 0.0625 15.6125 0.1875C15.8875 0.3125 16.1167 0.491667 16.3 0.725L17.55 2.25C17.7 2.43333 17.8125 2.63333 17.8875 2.85C17.9625 3.06667 18 3.29167 18 3.525V16C18 16.55 17.8042 17.0208 17.4125 17.4125C17.0208 17.8042 16.55 18 16 18H2ZM2.4 3H15.6L14.75 2H3.25L2.4 3Z"
                  />
                </svg>
              </button>
            }
@if (activeTab === 'actuel') {
              <button
                class="action-btn delete"
                title="Supprimer"
            
                (click)="onDeleteClient(c)"
              >
                <svg
                  class="icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7 21C6.45 21 5.97917 20.8042 5.5875 20.4125C5.19583 20.0208 5 19.55 5 19V6H4V4H9V3H15V4H20V6H19V19C19 19.55 18.8042 20.0208 18.4125 20.4125C18.0208 20.8042 17.55 21 17 21H7ZM17 6H7V19H17V6ZM9 17H11V8H9V17ZM13 17H15V8H13V17Z"
                  />
                </svg>
              </button>
            }
              <button class="view-btn detail" title="Détails">
                <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                  <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
              </button>
            </div>
          </div>
        }
        </div>

      }
      @if(displayedClients.length > 0) {
        <div class="pagination" >
          <button class="page-btn" [disabled]="true">«</button>
          <button class="page-btn active">1</button>
          <button class="page-btn">2</button>
          <button class="page-btn">3</button>
          <button class="page-btn">»</button>
        </div>  
      }
      </div>
    </div>
  </div>
